<?xml version="1.0" encoding="UTF-8"?>

<!--
  Se puede editar a la configuracion que se tenga en cada celula
-->

<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <JSONLayout applicationProperties="true" compact="true" eventEol="true"
        objectMessageAsJsonObject="true">
      </JSONLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.cdeh" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>

  </Loggers>
</Configuration>